body {
    padding: 15px 150px;
    background-color: rgb(146, 174, 199);
}

#title {
    font-size: 30px;
    text-align: center;

}

#dev-form {
    border: 3px ridge;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(190, 213, 234);

}

.data-input-initial {
    font-size: 15px;
    padding: 8px 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    margin: 5px;

}

.data-input-initial:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76,175,80,0.4);
}

#submit {
    font-size: 15px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 8px; 

}

#submit:hover {
    transition: all 0.3s ease;
    background-color: rgb(225, 238, 243);
}

#result {
    font-size: 20px;
    text-align: center;
    padding: 20px 10px;
}

#current-reservation-presentation{
    border: 3px ridge;
    padding: 5px 20px 10px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(190, 213, 234);
}

#reservation-list-title{
    font-size: 17px;
    text-align: center;
    vertical-align: text-top;
    padding: 5px 10px;
    margin: 0px 10px;
}

#reservations-list {
    font-size: 17px;
    text-align: center;
    padding: 5px 10px;

}


#reservation-list div {
    padding: 5px 10px;
    margin: 5px 5px;
    align-items: center;
    display: flex;

}


.edit-btn, .delete-btn, .save-btn {
    font-size: 14px;
    padding: 2px 5px;
    margin: 10px;
    background-color: white;
    border-radius: 8px; 
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover, .save-btn:hover {
    transition: all 0.3s ease;
    background-color: rgb(225, 238, 243);
}


.data-input-edit {
    padding: 6px 8px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin: 4px;
}

.data-input-edit:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76,175,80,0.4);
}